  header {
    display: flex;
    align-items: center;

    h1 {
      margin-top: 0;
    }

    > div {
     display: none; 
    }

    @media screen and (max-width: 300px) {
      > div {
        display: block;
        margin: -1em -1em -1em auto;
        position: relative;
        padding: 1em;

        button {
          background: none;
          outline: none;
          border: solid 1px currentColor;
          border-radius: 0.25em;
        }

        > ul {
          display: none;
          background: #FFFFFF;
          position: absolute;
          right: 1.5em;
          top: 1.5em;
          width: max-content;
          margin-left: 0;
          padding-left: 0;
          list-style: none;

          li {
            padding: 0.25em 0.5em;
            text-align: right;
          }

          &:hover {
            display: block;
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
      }
    }

    > ul {
      list-style: none;
      margin-left: auto;
      padding: 0;
      display: flex;

      @media screen and (max-width: 300px) {
        display: none;
      }

      li {
        margin: 0 1em;
      }
    }
  }

