  header {
    display: flex;
    align-items: center;

    h1 {
      margin-top: 0;
    }

    >div {
      display: none;
    }

    >ul {
      list-style: none;
      margin-left: auto;
      padding: 0;
      display: flex;

      li {
        margin: 0 1em;
      }
    }
  }